<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Section.io. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Sectionio_Metrics::metrics" title="section.io" module="Sectionio_Metrics" sortOrder="50" parent="Magento_Reports::report" resource="Sectionio_Metrics::metrics"/>
        <add id="Sectionio_Metrics::metrics_report" title="View Site Metrics" sortOrder="10" module="Sectionio_Metrics" parent="Sectionio_Metrics::metrics" action="metrics/report/index" resource="Sectionio_Metrics::metrics_report"/>
    </menu>
</config>